<div class="row">
  <h1 class="no-margin">Portfolios</h1>
</div>
<hr class="no-margin"/>
<div class="container u-full-width u-max-full-width">
  <div class="row">
    <div class="one-half column pad-1em">
      <app-portfolio-list></app-portfolio-list>
    </div>
    <div class="one-half column">
      <app-portfolio-detail></app-portfolio-detail>
    </div>
  </div>
</div>

  <!-- 
  <div class="row">
    <ng-container *ngFor="let ladder of ladders">
      <app-price-ladder></app-price-ladder>
    </ng-container>
  </div>

  
  &nbsp;
  <div class="row">
    <button class="button-primary" (click)="addLadder()">Add</button>
    &nbsp;
    <button class="button-primary" (click)="testApi()">Test</button>
    &nbsp;
    <button class="button-primary" (click)="testApi2()">Test2</button>
  </div>
  -->

