<div class="four columns grey-dotted-border">
    <table class="full-width px">
      <caption>App1</caption>
      <thead>
        <tr>
          <th scope="col">b1</th>
          <th scope="col">px1</th>
          <th scope="col">a1</th>
        </tr>
      </thead>
      <tbody>
        <tr><td></td><td class="ask">1.020</td><td>1</td></tr>
        <tr><td></td><td class="ask">1.015</td><td>2</td></tr>
        <tr><td></td><td class="ask">1.010</td><td>3</td></tr>
        <tr><td>4</td><td class="bid">1.005</td><td></td></tr>
        <tr><td>5</td><td class="bid">1.000</td><td></td></tr>
        <tr><td>6</td><td class="bid">0.995</td><td></td></tr>
      </tbody>
    </table>
</div>
