<table class="u-full-width">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody *ngFor="let portfolio of portfolioList">
        <tr class="interactive" (click)="onSelect(portfolio)">
            <td>{{portfolio.id}}</td>
            <td>{{portfolio.name}}</td>
            <td>{{portfolio.description}}</td>
        </tr>
    </tbody>
</table>

<button (click)="displayModal()">Add portfolio</button>

<div class="modal" [attr.style]="modalStyle">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>Form content to add portfolio</p>
    </div>
</div>
